@import "./variaveis";

.background-image {
  background: url("./img/Topo - Imagem - BG.png") center no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.background-agradecimento-image {
  background: linear-gradient(180deg, #000000a1 0%, #54545400 100%),
    url("./img/Topo - Imagem - BG.png") center no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.background-image-sobre-inc {
  background: url("./img/Banner-Somos-Maximo.png") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.background-image-oportunidades-inc {
  background: url("./img/banner-oportunidades.png") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.background-image-vaga-inc {
  background: url("./img/banner-vaga.png") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.background-image-portal-inc {
  background: url("./img/Topo - Imagem - BG.png") center no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.background-image-blog-maximo-inc {
  background: url("./img/background-blog.png") center no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.top-menu {
  &__link-border {
    text-align: left;
    font-family: "avenir-medium", sans-serif;
    font-size: 11px;
    letter-spacing: 0px;
    color: $cor-branca;
    opacity: 1;
    border: 1px solid $cor-branca;
    border-radius: 50px;
    padding: 3px 0px 1px 0px;
  }

  &__link-border:hover {
    color: $cor-branca;
    border: 1px solid $cor-branca;
  }

  &__brands-border {
    border: 1px solid $cor-branca !important;
    border-radius: 50%;
    color: $cor-branca;
    height: 28px;
    width: 28px;
    place-content: center;
  }

  &__brands-border:hover {
    color: $cor-branca;
  }

  &__brands-border-two {
    border: 1px solid $cor-branca !important;
    border-radius: 50%;
    color: $cor-branca;
    height: 28px;
    width: 28px;
    place-content: center;
  }

  &__brands-border-two :hover {
    color: $cor-branca;
  }
}

.menuSuperior-inc {
  background-color: $cor-verde-agua-claro !important;
}

.navbar-brand-inc {
  top: 39px !important;

  img {
    width: 350px !important;
  }
}

.header-inc.scrolled .navbar-brand-inc img {
  width: 320px !important;
}

header.scrolled .navbar-brand-inc {
  top: 32px !important;
}

.header-inc.scrolled .nav-link-inc {
  color: $cor-branca;
}

.header-inc.scrolled .nav-link-inc.top-menu__link-border {
  border: 1px solid $cor-branca;
  border-radius: 50px;
}

.header-inc.scrolled .top-menu__brands-border-two {
  color: $cor-verde-agua-claro;
  border: 1px solid $cor-verde-agua-claro !important;
  border-radius: 50%;
}

.logo-menu {
  &__button-inc {
    background: $cor-verde-agua-claro 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;
    color: $cor-branca;
    font-size: 12px;
    font-family: "avenir-medium", sans-serif;
    letter-spacing: 0px;
    text-align: center;
    width: 162px;
    transition: all 0.5s ease;
  }

  &__button-inc:hover {
    color: $cor-branca;
    background: transparent
      linear-gradient(180deg, $cor-azul-escuro 0%, $cor-verde-agua-claro 100%)
      0% 0% no-repeat padding-box;
  }
}

.header-inc.scrolled {
  background: $cor-branca;
  height: auto;
}

/* RESPONSIVO */

@media (min-width: 992px) and (max-width: 1200px) {
  .nav-link-inc {
    font-size: 12px !important;
  }

  .navbar-brand-inc {
    top: 0 !important;
    
    img {
      top: 43px;
    }
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .nav-link-inc {
    font-size: 12px;
  }

  .navbar-brand-inc {
    top: 0 !important;

    img {
      top: 43px;
    }
  }
}

@media (max-width: 490px) {
  .navbar-brand-inc {
    img {
      width: 230px !important;
      top: 25px;
    }
  }

  .header-inc.scrolled .navbar-brand-inc img {
    width: 235px !important;
  }
}
