#banner {
  align-self: center;
  flex-grow: 1;
}

.container-banner {
  &__title > h1 {
    text-align: center;
    font-size: 128px;
    font-family: "avenir-black", sans-serif;
    letter-spacing: 0px;
    color: $cor-branca;
    text-shadow: 8px 8px 98px $cor-preta;
    opacity: 1;
  }

  &__subtitle > h2 {
    text-align: center;
    font-family: "avenir-roman", sans-serif;
    font-size: 32px;
    letter-spacing: 0px;
    color: $cor-branca;
    text-shadow: 8px 8px 98px $cor-preta;
    opacity: 1;
  }
}

.text-agradecimento-inc {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $cor-branca;
}

.container-bar {
  display: flex;
  flex-direction: row;
  background: #00000047 0% 0% no-repeat padding-box;
  border-radius: 72px;
  opacity: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 115px;
  top: 80px;

  &__dot {
    position: absolute;
    left: 10px;

    span {
      color: $cor-branca;
      font-size: 55px;
    }
  }

  &__lorem {
    position: absolute;
    left: 130px;

    p {
      text-align: left;
      font-size: 28px;
      font-family: "avenir-light", sans-serif;
      font-weight: $peso-fonte-negrito-paragrafo;
      letter-spacing: 0px;
      color: $cor-branca;
      opacity: 1;
      margin-bottom: 0 !important;
    }
  }

  &__descricao {
    position: absolute;
    right: 225px;

    p {
      text-align: center;
      font-size: 28px;
      font-family: "avenir-light", sans-serif;
      letter-spacing: 0px;
      font-weight: $peso-fonte-negrito-paragrafo;
      color: $cor-branca;
      opacity: 1;
      margin-bottom: 0 !important;
    }
  }

  &__button {
    position: absolute;
    right: 10px;

    a {
      background: $cor-verde-agua-claro 0% 0% no-repeat padding-box;
      border-radius: 50px;
      opacity: 1;
      text-align: center;
      font-size: 20px;
      font-weight: $peso-fonte-negrito-paragrafo;
      font-family: "avenir-light", sans-serif;
      letter-spacing: 0px;
      color: $cor-branca;
      text-decoration: none;
      padding: 15px 25px;
    }

    a:hover {
      background: transparent
        linear-gradient(180deg, $cor-azul-escuro 0%, $cor-verde-agua-claro 100%)
        0% 0% no-repeat padding-box;
    }
  }
}

#para-sua-fase {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-fase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  &__title {
    p {
      text-align: center;
      font-size: 26px;
      font-family: "avenir-light", sans-serif;
      letter-spacing: 0px;
      color: $cor-azul-escuro;
      opacity: 1;
    }
  }

  &__button {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;

    button {
      @include botaoFiltrar($cor-verde-agua-claro, $cor-branca);
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.container-fase__button button:hover {
  background: transparent
    linear-gradient(180deg, $cor-azul-escuro 0%, $cor-verde-agua-claro 100%) 0%
    0% no-repeat padding-box;
}

.carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.3s ease;
  cursor: grab;
  gap: 1.5rem;
  overflow: auto;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.carousel-inner::-webkit-scrollbar {
  display: none;
  /* Safari e Chrome */
}

.carousel-item-index {
  max-width: 20%;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: $cor-branca;
  border-radius: 5px;
  flex-shrink: 0;
  display: flex;
  position: relative;

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__estagio {
    position: absolute;
    top: 15px;
    left: 15px;

    p {
      text-align: left;
      font-size: 12px;
      font-family: "avenir-light", sans-serif;
      letter-spacing: 0px;
      color: $cor-branca;
      opacity: 1;
      border: 2px solid $cor-verde-agua-claro;
      background-color: $cor-verde-agua-claro;
      border-radius: 30px;
      padding: 8px 25px 8px 25px;
      font-weight: $peso-fonte-negrito-paragrafo;
    }

    .color-two-construction {
      text-align: left;
      font-size: 12px;
      font-family: "avenir-light", sans-serif;
      letter-spacing: 0px;
      color: $cor-branca;
      opacity: 1;
      border: 2px solid $cor-azul-escuro;
      background-color: $cor-azul-escuro;
      border-radius: 30px;
      padding: 8px 25px 8px 25px;
      font-weight: $peso-fonte-negrito-paragrafo;
    }

    .color-three-breve {
      text-align: left;
      font-size: 12px;
      font-family: "avenir-light", sans-serif;
      letter-spacing: 0px;
      color: $cor-branca;
      opacity: 1;
      border: 2px solid $cor-verde-agua-medio;
      background-color: $cor-verde-agua-medio;
      border-radius: 30px;
      padding: 8px 25px 8px 25px;
      font-weight: $peso-fonte-negrito-paragrafo;
    }
  }

  &__nome {
    position: absolute;
    bottom: 15px;
    left: 15px;

    p {
      text-align: left;
      font-size: 45px;
      font-family: "avenir-black", sans-serif;
      letter-spacing: 0px;
      line-height: 1.1;
      color: $cor-branca;
      opacity: 1;
    }
  }

  &__hover-content {
    display: none;
  }
}

.card-body {
  padding: 0;
  padding-bottom: 15px;
  height: 256px;
}

.link-card-title {
  text-decoration: none;
}

.card-title {
  background-color: $cor-azul-escuro;
  color: $cor-branca;
  height: 38px;
  text-align: justify;
  padding: 2px 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.card-title-second-color {
  background-color: $cor-verde-agua-claro;
  color: $cor-branca;
  height: 38px;
  text-align: justify;
  padding: 2px 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.card-title-three-color {
  background-color: $cor-verde-agua-medio;
  color: $cor-branca;
  height: 38px;
  text-align: justify;
  padding: 2px 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.card-title-second-color:hover {
  background-color: $cor-verde-agua-medio;
}

.card-title-three-color:hover {
  opacity: 0.9;
}

.card-title:hover {
  opacity: 0.9;
}

.card-text {
  color: $cor-verde-agua-claro;
  font-weight: $peso-fonte-negrito-paragrafo;
  padding: 10px 0 0 12px;
  margin-bottom: 12px;
}

.card-text-two {
  color: $cor-azul-escuro;
  font-weight: $peso-fonte-negrito-subtitulo;
  padding: 5px 0 12px 12px;
}

.card-content {
  margin-bottom: 0;
  padding-left: 12px;
}

.card-blog__img img {
  width: 100%;
  height: auto;
}

.carousel-item-index:hover .carousel-item-index__nome {
  display: none;
}

.carousel-item-index:hover .carousel-item-index__hover-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 15px;

  p {
    text-align: left;
    font-size: 20px;
    font-family: "avenir-light", sans-serif;
    letter-spacing: 0px;
    color: $cor-branca;
    opacity: 1;
  }

  h3 {
    text-align: left;
    font-size: 30px;
    font-family: "avenir-black", sans-serif;
    letter-spacing: 0px;
    color: $cor-branca;
    opacity: 1;
  }
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  display: block;
}

.image-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 0;
}

.carousel-item-index img {
  width: 100%;
  height: 525px;
}

.img-text-title {
  position: absolute;
  bottom: 10px;
  color: $cor-branca;
  font-weight: $peso-fonte-negrito-paragrafo;
  font-size: 46px;
  padding-left: 12px;
  line-height: 1.2;
  position: absolute;
  z-index: 0;
  transition: transform 0.5s ease;
}

#form-incorporadora {
  background: $cor-azul-escuro 0% 0% no-repeat padding-box;
}

.container-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  &__img {
    display: flex;
    justify-content: flex-start;
  }

  &__texto {
    padding: 1rem;

    h3 {
      text-align: left;
      font-size: 30px;
      font-family: "avenir-black", sans-serif;
      letter-spacing: 0px;
      color: $cor-branca;
      opacity: 1;
    }

    p {
      text-align: left;
      font-size: 16px;
      font-family: "avenir-light", sans-serif;
      letter-spacing: 0px;
      color: $cor-branca;
      opacity: 1;
      max-width: 450px;
    }
  }

  &__form {
    display: flex;
    min-width: 320px;
  }
}

#form-home-incorporadora {
  height: auto;
  place-content: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 470px;

  h3 {
    text-align: left;
    font-size: 14px;
    font-family: "avenir-light", sans-serif;
    letter-spacing: 0px;
    color: $cor-branca;
    opacity: 1;
    margin-bottom: 2rem;
  }
}

.form-group-select {
  label {
    text-align: left;
    font-size: 14px;
    font-family: "avenir-light", sans-serif;
    letter-spacing: 0px;
    color: $cor-branca;
    opacity: 1;
  }

  select {
    background-color: transparent;
    color: $cor-branca;
    border: unset;
    border: 2px solid $cor-branca;
    border-radius: 0px;
    margin-bottom: 1rem;
  }

  select option {
    background-color: $cor-verde-agua-claro;
  }
}

.bg-acquagreen {
  background-color: $cor-verde-agua-claro !important;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.container-modal-title {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 0px 20px;

  h2 {
    color: $cor-azul-escuro;
    font-family: "avenir-black", sans-serif;
  }
}

.close {
  color: #aaa;
  margin-left: auto;
  font-size: 28px;
  font-weight: bold;
  margin-right: 25px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group-inc {
  padding: 20px;
}

.form-group-inc label {
  display: block;
  margin-bottom: 5px;
  color: $cor-azul-escuro;
  font-family: "avenir-light", sans-serif;
}

.label-modal-title {
  margin-bottom: 1rem !important;
  font-size: 20px;
  color: $cor-azul-escuro;
  font-family: "avenir-black", sans-serif !important;
}

.container-checkbox {
  display: flex;
}

.checkbox-group {
  width: 50%;
}

.checkbox-group label {
  display: block;
}

.modal-checkbox + label {
  display: inline-block;
  margin-right: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 1rem;
  border: 1px solid rgb(242, 241, 240);
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.clear-btn {
  background-color: $cor-branca;
  border: 1px solid $cor-azul-escuro;
  color: $cor-azul-escuro;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.clear-btn i {
  margin-left: 5px;
}

.apply-btn {
  background-color: $cor-azul-escuro;
  color: $cor-branca;
  border-radius: 50px;
}

.container-card-blog {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card-img-top {
  transition: transform 0.5s ease;
}

.image-container:hover .card-img-top {
  transform: scale(1.2);
}

.image-container:hover .img-text-title {
  display: none;
}

/* RESPONSIVO */

@media (min-width: 375px) and (max-width: 428px) {
  .container-bar {
    display: none;
  }

  .container-fase {
    &__button {
      display: flex;
      flex-direction: column;
    }
  }

  .carousel-item-index {
    max-width: 85%;
  }

  .container-form {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__img {
      display: none;
    }

    &__texto {
      position: initial;
      width: 100%;
      padding: 2rem;

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    &__form {
      position: initial;
      width: 100%;
      padding: 2rem;
    }
  }

  .certificados-texto {
    padding: 2rem;
  }
}

@media (min-width: 429px) and (max-width: 576px) {
  .container-bar {
    display: none;
  }

  .container-fase {
    &__button {
      display: flex;
      flex-direction: column;
    }
  }

  .carousel-item {
    max-width: 85%;
  }

  .container-form {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__img {
      display: none;
    }

    &__texto {
      position: initial;
      width: 100%;
      padding: 2rem;

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    &__form {
      position: initial;
      width: 100%;
      padding: 2rem;
    }
  }

  .certificados-texto {
    padding: 2rem;
  }
}

@media (max-width: 460px) {
  .container-banner {
    &__title > h1 {
      font-size: 95px;
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container-bar {
    display: none;
  }

  .container-fase {
    &__button {
      display: flex;
      flex-direction: column;
    }
  }

  .carousel-item-index {
    max-width: 50%;
  }

  .container-form {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__img {
      display: none;
    }

    &__texto {
      position: initial;
      width: 100%;
      padding: 1rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    &__form {
      position: initial;
      width: 100%;
      padding: 1rem;
      align-items: center;
    }
  }

  .certificados-texto {
    padding: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .container-bar {
    display: none;
  }

  .container-fase {
    &__button {
      display: flex;
      flex-direction: column;
    }
  }

  .carousel-item-index {
    max-width: 35%;
  }

  .container-form {
    flex-direction: column;

    &__img {
      display: none;
    }

    &__texto {
      position: initial;
      width: 100%;
      padding: 2rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    &__form {
      position: initial;
      width: 100%;
      padding: 1rem;
      align-items: center;
    }
  }

  .certificados-texto {
    padding: 2rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container-bar {
    display: none;
  }

  .carousel-item-index {
    max-width: 35%;
  }

  .container-form {
    flex-direction: row;
    justify-content: center;

    &__img {
      display: none;
    }

    &__texto {
      position: initial;
      padding: 1rem;

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    &__form {
      position: initial;
      padding: 1rem;
    }
  }

  .certificados-texto {
    padding: 2rem;
  }
}

@media (max-width: 1200px) {
  .carousel-inner {
    justify-content: flex-start;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .container-bar {
    &__lorem {
      p {
        font-size: 22px !important;
      }
    }
  }

  .container-bar {
    &__descricao {
      p {
        font-size: 22px !important;
      }
    }
  }

  .carousel-item-index {
    &__nome {
      p {
        font-size: 34px;
      }
    }
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
}

@media (max-width: 1520px) {
  .container-form {
    &__form {
      flex-direction: column;
    }
  }
}

@media (min-width: 1601px) {
}
