@import "./variaveis";

#dna-da-construcao {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  &__title {
    font-family: "avenir-black", sans-serif;
    font-size: $tamanho-fonte-titulo;
    letter-spacing: 0px;
    color: $cor-azul-escuro;
    opacity: 1;
  }

  &__subtitle {
    font-family: "avenir-light", sans-serif;
    font-size: 28px;
    letter-spacing: 0px;
    color: $cor-verde-agua-claro;
    opacity: 1;
    margin-bottom: 4rem;
    font-weight: $peso-fonte-negrito-paragrafo;
  }

  &__frase {
    text-align: center;
    font-size: 17px;
    font-family: "avenir-light", sans-serif;
    letter-spacing: 0px;
    color: #444744;
    font-weight: 700;
    opacity: 1;
    max-width: 900px;
    margin-bottom: 3rem;
  }
}

.items-check {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    border-radius: 50%;
    background: $cor-azul-escuro;
    padding: 1rem;
    color: $cor-branca;
    font-size: 75px;
  }
}

.items-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    text-align: left;
    font-size: 25px;
    font-family: "avenir-black", sans-serif;
    letter-spacing: 0px;
    color: $cor-verde-agua-claro;
    opacity: 1;
  }

  h6 {
    text-align: left;
    font-family: "avenir-medium", sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    color: #444744;
    opacity: 1;
  }
}

#segmentos-servicos {
  padding-top: 2rem;
}

.container-segmentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.container-segmentos-name h1 {
  font-family: "avenir-black", sans-serif;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0px;
  color: $cor-azul-escuro;
  opacity: 1;
}

.container-segmentos-imgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 2rem;
  padding: 25px;
}

.container-segmento-name-img {
  position: relative;
}

.segmentos-name {
  position: absolute;
  text-align: center;
  color: $cor-branca;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: $cor-azul-escuro;
  padding: 10px 25px;
  z-index: 1;
  font-size: 14px;
  font-family: "avenir-light", sans-serif;
  font-weight: 700;
}

.segmentos-img {
  width: 312px;
  height: 312px;
  gap: 10px;
  object-fit: cover;
}

#form-construtora {
  position: relative;
  background: url(./img/bg-form.png) center no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin-bottom: 2rem;
}

#form-construtora::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 53, 79, 0.5);
  z-index: 1;
}

#form-construtora > .container-fluid {
  position: relative;
  z-index: 2;
}

.form-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 7rem;
  align-items: end;

  h2 {
    text-align: right;
    font-size: 36px;
    font-family: "avenir-black", sans-serif;
    letter-spacing: 0px;
    color: $cor-branca;
    opacity: 1;
    margin-bottom: 2rem;
  }

  p {
    text-align: right;
    font-size: 22px;
    font-family: "avenir-heavy", sans-serif;
    letter-spacing: 0px;
    color: $cor-branca;
    opacity: 1;
    max-width: 600px;
  }
}

#form-home-construtora {
  height: 525px;
  place-content: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  max-width: 695px;

  h3 {
    text-align: left;
    font-size: 24px;
    font-family: "avenir-light", sans-serif;
    letter-spacing: 0px;
    color: $cor-branca;
    opacity: 1;
    margin-bottom: 2rem;
  }

  p {
    color: $cor-branca;
    font-weight: $peso-fonte-negrito-paragrafo;
    font-size: 12px;
  }
}

.form-group {
  margin-bottom: 1rem;

  input {
    border: unset;
    border: 2px solid $cor-branca;
    opacity: 1;
    color: $cor-branca;
    background-color: transparent;
    border-radius: 0px;
  }

  input:focus {
    background-color: transparent;
    color: $cor-branca;
  }

  input::placeholder {
    color: $cor-branca;
    font-size: 12px;
  }
}

.form-group-radio {
  label {
    text-align: left;
    font-size: 14px;
    font-family: "avenir-light", sans-serif;
    letter-spacing: 0px;
    color: $cor-branca;
    opacity: 1;
    margin-bottom: 1rem;
  }

  .container-radios {
    display: flex;
    flex-direction: row;
  }

  .label-radio {
    margin-right: 1rem;
  }
}

.form-group-button {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-form-construtora {
  background: $cor-branca 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font-size: 18px;
  font-family: "avenir-light", sans-serif;
  letter-spacing: 0px;
  color: $cor-azul-escuro;
  border: 1px solid $cor-branca;
  width: 100%;
  padding-top: 0.51rem;
  padding-bottom: 0.51rem;
  border-radius: 0;
}

.form-footer {
  text-align: center;
  font-size: 12px;
  font-family: "avenir-light", sans-serif;
  letter-spacing: 0px;
  color: $cor-branca;
  opacity: 1;
}

#certificacoes {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.certificados-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__img {
    width: 100%;
    max-width: 150px;
    margin: 15px;
  }
}

.certificados-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: left;
    font-size: 18px;
    font-family: "avenir-light", sans-serif;
    letter-spacing: 0px;
    color: #444744;
  }
}

.container-title-blog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;

  h4 {
    text-align: center;
    font-size: 27px;
    font-family: "avenir-light", sans-serif;
    letter-spacing: 0px;
    color: $cor-verde-agua-claro;
    opacity: 1;
    margin-top: 30px;
  }

  h2 {
    text-align: center;
    font-size: 52px;
    font-family: "avenir-black", sans-serif;
    letter-spacing: 0px;
    color: $cor-azul-escuro;
    opacity: 1;
  }
}

.card-blog {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  &__title {
    h2 {
      text-align: left;
      font-family: "avenir-light";
      font-size: 29px;
      letter-spacing: 0px;
      color: $cor-verde-agua-claro;
      opacity: 1;
      margin-top: 1rem;
      line-height: 1;
      font-weight: 600;
    }
  }

  &__data {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: absolute;
    bottom: 110px;
  }

  &__desc {
    text-align: left;
    font-size: 16px;
    font-family: "avenir-medium", sans-serif;
    letter-spacing: 0px;
    color: #444744;
    opacity: 1;
    margin-bottom: 1.5rem;
    bottom: 45px;
    position: absolute;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    @include btnLeiaMaisCon($cor-azul-escuro, $cor-branca);
    a {
      text-decoration: none;
      background: none !important;
      color: $cor-branca;
      font-family: "avenir-light", sans-serif;
      font-weight: $peso-fonte-negrito-paragrafo;
      font-size: 12px;
    }
  }
}

.container-button-todos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.ver-todos-button {
  background: $cor-azul-escuro 0% 0% no-repeat padding-box;
  border-radius: 50px;
  color: $cor-branca;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 18px;
  font-weight: 700;
  font-family: "avenir-light", sans-serif;
  opacity: 1;
  padding: 10px 85px;
  margin-bottom: 3rem;
}

.ver-todos-button:hover {
  background: transparent
    linear-gradient(180deg, $cor-azul-escuro 0%, $cor-verde-agua-claro 100%) 0%
    0% no-repeat padding-box;
}

#Clientes {
  padding-top: 2rem;
}

.container-clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.container-clientes-name h1 {
  font-family: "avenir-black", sans-serif;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 0px;
  color: $cor-azul-escuro;
  opacity: 1;
}

.container-clientes-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.clientes-img {
  padding: 5px;
  max-width: 180px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.clientes-img:hover {
  filter: grayscale(0%);
}

/* RESPONSIVO */

@media (min-width: 375px) and (max-width: 428px) {
  .container-padding-form {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .container-title {
    &__title {
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }
  }

  .items-desc {
    h4 {
      text-align: center;
      margin-top: 2rem;
    }

    h6 {
      text-align: center;
    }
  }

  .form-left {
    display: flex;
    align-items: center;
    padding-right: unset;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .form-group-radio {
    .container-radios {
      flex-direction: column;
    }
  }

  #form-home-construtora {
    padding: 1rem;
    height: auto;
  }

  .label-radio {
    width: 80%;
  }

  .card-blog {
    margin-bottom: 2rem;

    &__title {
      h2 {
        text-align: center;
      }
    }
  }

  .ver-todos-button {
    padding: 10px 60px;
  }
}

@media (min-width: 429px) and (max-width: 576px) {
  .container-title {
    &__title {
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }
  }

  .items-desc {
    h4 {
      text-align: center;
      margin-top: 2rem;
    }

    h6 {
      text-align: center;
    }
  }

  .form-left {
    display: flex;
    align-items: center;
    padding-right: unset;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .form-group-radio {
    .container-radios {
      flex-direction: column;
    }
  }

  #form-home-construtora {
    padding: 1rem;
    height: auto;
  }

  .label-radio {
    width: 92%;
    margin-right: unset !important;
  }

  .card-blog {
    margin-bottom: 2rem;

    &__title {
      h2 {
        text-align: center;
      }
    }
  }

  .ver-todos-button {
    padding: 10px 60px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container-title {
    &__title {
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }
  }

  .items-desc {
    h4 {
      text-align: center;
      margin-top: 2rem;
    }

    h6 {
      text-align: center;
    }
  }

  .form-left {
    display: flex;
    align-items: center;
    padding-right: unset;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .form-group-radio {
    .container-radios {
      flex-direction: column;
    }
  }

  #form-home-construtora {
    height: auto;
  }

  .card-blog {
    margin-bottom: 2rem;

    &__title {
      h2 {
        text-align: center;
      }
    }
  }

  .ver-todos-button {
    padding: 10px 60px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .container-title {
    &__title {
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }
  }

  .items-desc {
    h4 {
      text-align: center;
      margin-top: 2rem;
    }

    h6 {
      text-align: center;
    }
  }

  .form-left {
    padding-right: unset;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .form-group-radio {
    .container-radios {
      flex-direction: column;
    }
  }

  #form-home-construtora {
    height: auto;
  }

  .label-radio {
    margin-right: 0 !important;
    width: 90%;
  }

  .card-blog {
    margin-bottom: 2rem;

    &__title {
      h2 {
        text-align: center;
      }
    }
  }

  .ver-todos-button {
    padding: 10px 60px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .form-right {
    align-content: center;
  }

  .form-group-radio {
    .container-radios {
      flex-direction: column;
    }
  }
}

@media (max-width: 492px) {
  .container-title {
    &__title {
      font-size: 35px;
    }
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
}

@media (min-width: 1401px) and (max-width: 1600px) {
}

@media (min-width: 1601px) {
}
