@import "./variaveis";

.inputs-file-seu-terreno-inc {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  .input-file-inc-terreno {
    display: none;
    max-width: 145px;
  }

  .btn-upload-novo {
    max-width: 160px;
    height: 44px !important;
    color: gray !important;
    font-size: 16px !important;
  }
}

@media (max-width: 995px) {
  #form-portal .containerform-seu-terreno {
    flex-direction: column;
    align-items: center;
  }
}
