.botao-interesse {
    @include botaoMenu($cor-verde-agua-claro, $cor-branca)
}

#infos-gerais {
    padding: 2rem 0rem;
}

.botao-interesse>a {
    text-decoration: none;
    color: unset;
}

.container-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-info {
    font-size: 20px;
    font-family: 'avenir-roman', sans-serif;
    letter-spacing: 0px;
    color: #000000 !important;
    opacity: 1;
}

.container-infos-sm {
    width: 12.4%;
}

#carousel-img {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.title-empreendimento {
    color: $cor-azul-escuro;
    font-size: $tamanho-fonte-titulo;
    font-family: 'avenir-black', sans-serif;
    margin-bottom: 2rem;
}

.subtitle-empreendimento {
    color: $cor-verde-agua-claro;
    font-size: $tamanho-fonte-subtitulo;
    text-align: left;
    letter-spacing: 0px;
    font-family: 'avenir-light', sans-serif;
}

.paragrafo-empreendimento {
    color: #707070;
    font-size: $tamanho-fonte-paragrafo;
    font-family: 'avenir-light', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

.container-carousel {
    position: relative;
}

.carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
}

.carousel-dots {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;
}

.carousel-dots span {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.carousel-dots .active {
    background-color: $cor-verde-agua-claro;
}

.controlador-voltar,
.controlador-avancar {
    background-color: transparent;
    color: #FFF;
    font-size: 70px;
}

.botao-voltar {
    position: absolute;
    bottom: 10px;
    right: 280px;
    z-index: 980;
}

.botao-avancar {
    position: absolute;
    bottom: 10px;
    right: 200px;
    z-index: 980;
}

.map-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    &__button {
        @include botao($cor-verde-agua-claro, $cor-branca);
        text-decoration: none;
        text-align: center;
        align-content: center;
    }
}

#map-section {
    padding-top: 3rem;
    padding-bottom: 4rem;
}

#lazer-section {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.lista-opcoes {
    position: relative;
    width: 100%;
}

.icon-opcoes {
    position: absolute;
    left: 35%;
    margin: auto;
}

.itens-opcoes {
    position: absolute;
    left: 45%;
    margin: auto;
    font-size: $tamanho-fonte-paragrafo;
    color: #000000;
    font-family: 'avenir-roman', sans-serif;
}

.tab-item>button {
    color: $cor-azul-escuro !important;
    font-size: 18px;
    letter-spacing: 0;
    font-family: 'avenir-black', sans-serif;
}

.nav-tabs {
    border-bottom: 1px solid #000;
}

.tab-item>.nav-link {
    border: unset !important;
}

.tab-item>.nav-link.active {
    border-bottom: 5px solid $cor-verde-agua-claro !important;
    border-radius: 0 !important;
    padding-bottom: 1.5rem;
}

.container-button-plantas {
    gap: 1rem;
    margin-top: 2rem;
}

.button-plantas {
    background-color: $cor-verde-agua-claro;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 0rem;
}

.button-plantas>button {
    color: $cor-branca !important;
    font-size: 18px;
    font-family: 'avenir-heavy', sans-serif;
    text-decoration: none !important;
    background: transparent;
}

.button-plantas>span {
    font-size: 40px;
    color: $cor-azul-escuro;
}

.button-plantas.active {
    background-color: $cor-azul-escuro;
}

.button-plantas.active .material-symbols-outlined {
    transform: rotate(-90deg);
    transition: transform 0.3s;
    color: $cor-verde-agua-claro;
}

.info-plantas {
    color: #000000;
    font-size: 18px;
    font-family: 'avenir-light', sans-serif;
    line-height: 1;
    text-align: left;
    letter-spacing: 0px;
}

.info-plantas>span {
    color: $cor-azul-escuro;
    font-family: 'avenir-medium', sans-serif;
    font-size: 18px;
    line-height: 1;
    text-align: left;
    letter-spacing: 0px;
}

#button-tour-vista {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.btn-tour-vista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-tour-vista>a {
    background-color: $cor-azul-escuro;
    border-radius: 27px;
    color: #FFF;
    font-size: 50px;
    font-family: 'avenir-black', sans-serif;
    letter-spacing: 0px;
    text-decoration: none;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 1.5rem 0rem;
}

.btn-tour-vista>a>img {
    position: absolute;
    left: 20px;
    bottom: 0;
    margin: auto;
    top: 0;
}

.btn-tour-vista>a>span {
    font-size: 65px;
    position: absolute;
    bottom: 0;
    top: 30px;
    right: 20px;
    margin: auto;
}

.title-obras {
    color: $cor-branca;
    font-size: $tamanho-fonte-titulo;
    font-family: 'avenir-black', sans-serif;
    letter-spacing: 0px;
}

#obra-status {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $cor-azul-escuro;
}

.title-status {
    color: $cor-verde-agua-claro;
    font-size: $tamanho-fonte-subtitulo;
    font-family: 'avenir-heavy', sans-serif;
    letter-spacing: 0px;
}

.progress {
    height: 53px;
    border-radius: 17px;
    position: relative;
    display: flex;
    place-items: center;
}

.progress-bar {
    background-color: $cor-verde-agua-claro;
    border-radius: 17px;
    height: 100%;
}

.progress-number {
    color: $cor-azul-escuro;
    font-size: 30px;
    font-family: 'avenir-heavy', sans-serif;
    letter-spacing: 0px;
    margin: 0;
    position: absolute;
    left: 30px;
}

/* CAROUSEL */

.carousel-slick {
    margin-top: 7rem;
    display: flex;
    gap: 2rem;
}

.slick-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.slick-slide img {
    width: 100%;
}

.caption {
    width: 100%;
    margin-top: 1rem;
}

.caption p {
    color: $cor-verde-agua-claro;
    font-size: $tamanho-fonte-subtitulo;
    font-family: 'avenir-heavy', sans-serif;

}

/* carousel */

#video-empreendimento {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $cor-azul-escuro;
}

.video-title {
    color: $cor-branca;
    font-size: $tamanho-fonte-subtitulo;
    font-family: 'avenir-heavy', sans-serif;
    letter-spacing: 0px;
}

.video-title span {
    color: $cor-verde-agua-claro;
}

.container-play-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-play {
    background-color: $cor-verde-agua-claro;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.button-play span {
    color: $cor-branca;
    font-size: 100px;
}

.video-data {
    color: $tamanho-fonte-subtitulo;
    color: $cor-verde-agua-claro;
    font-family: 'avenir-heavy', sans-serif;
    margin-top: 2rem;
}

.row-status .col-md-6:first-child {
    padding-right: 4rem;
}

.row-status .col-md-6:last-child {
    padding-left: 4rem;
}

#obra-status2 {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: $cor-azul-escuro;
}

#ficha-tecnica {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.container-acordeao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.acordeao-item {
    background-color: $cor-azul-escuro;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.acordeao-item span {
    color: $cor-verde-agua-claro;
    font-size: 70px;
    transition: transform 0.8s ease;
}

.acordeao-item span.rotated {
    transform: rotate(0deg);
    /* Classe para a rotação */
}

.acordeao-title {
    margin: 0;
    color: $cor-branca;
    font-size: 30px;
    font-family: 'avenir-heavy', sans-serif;
    letter-spacing: 0px;
}

.acordeao-descricao {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.acordeao-descricao ul {
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.acordeao-descricao ul li {
    border-bottom: 1px solid $cor-verde-agua-claro;
    margin-bottom: 1.5rem;
}

.descricao-item {
    color: $cor-verde-agua-claro;
    font-size: $tamanho-fonte-paragrafo;
    font-family: 'avenir-heavy', sans-serif;
}

.descricao-resp {
    color: #434743;
    font-size: $tamanho-fonte-paragrafo;
    font-family: 'avenir-heavy', sans-serif;
    float: right;
}

#localizacao {
    padding-top: 3rem;
    padding-bottom: 6rem;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container-iframe iframe {
    width: 100%;
    aspect-ratio: 1/1;
}

.container-text p {
    color: #434743;
    font-size: 21px;
    font-family: 'avenir-light', sans-serif;
}

.localizacao-text {
    padding-left: 4rem;
}

#outros-empreendimentos {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.title-conheca {
    color: $cor-verde-agua-claro;
    font-size: $tamanho-fonte-titulo;
    font-family: 'avenir-black', sans-serif;
    letter-spacing: 0px;
    margin-bottom: 2rem;
}

.container-carousel-conheca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-carousel-obras {
    margin-top: 8rem;
    position: relative;
}


.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item-obras {
    min-width: 50%;
    box-sizing: border-box;
}

.carousel-item-obras img {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    bottom: -52px;
    left: 50px;
    transform: translateX(-50%);
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    bottom: unset;
    top: 38%;
    width: auto;
    opacity: 1;
}

.controller-carousel {
    color: $cor-verde-agua-claro;
    font-size: 50px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}

.carousel-indicators button {
    background-color: #FFF;
    border: none;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.carousel-indicators button.active {
    background-color: $cor-verde-agua-claro;
}

/* RESPONSIVO */

@media (max-width:430px) {
    .container-infos-sm {
        width: 100%;
    }

    .infos-text {
        align-items: self-start!important;
    }

    .container-infos {
        margin-bottom: 2rem;
    }

    .br-dorms {
        display: none;
    }

    .button-interesse {
        align-self: center;
    }

    .container-title {
        padding: 0 2rem;
    }

    .title-empreendimento {
        font-size: 30px;
        text-align: center;
    }

    .controlador-voltar, .controlador-avancar {
        font-size: 40px;
    }

    .botao-voltar {
        right: 50px;
    }

    .botao-avancar {
        right: 0;
    }

    .carousel-dots {
        bottom: 30px;
    }

    .row-localizacao {
        margin-top: 1.5rem;
    }

    .row-localizacao .col-md-10 {
        align-content: center;
    }

    .map-subtitle {
        margin-top: 1.5rem;
    }

    .subtitle-empreendimento {
        font-size: 30px;
        text-align: center;
    }

    #map-section {
        padding-bottom: 1rem;
    }

    .icon-opcoes {
        position: initial;
        margin: 0;
    }

    .itens-opcoes {
        position: initial;
        margin: 0;
        margin-left: 0.5rem!important;
    }

    .container-options-lazer {
        padding: 0rem 1rem;
    }

    #lazer-section {
        padding-bottom: 1rem;
    }

    .tab-item > .nav-link.active {
        padding-bottom: 0;
        text-align: left;
    }

    .tab-item > .nav-link {
        text-align: left;
    }

    .nav-item.tab-item {
        width: 50%;
    }

    .tab-pane>.row>.col-md-8 {
        margin-top: 1.5rem;
    }

    .info-plantas {
        font-size: 14px;
    }

    .info-plantas>span {
        font-size: 14px;
    }

    .btn-tour-vista {
        margin-bottom: 1.5rem;
    }

    .btn-tour-vista > a {
        padding: 1rem 0;
        font-size: 28px;
    }

    .btn-tour-vista > a > span {
        top: 7px;
    }

    #button-tour-vista {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .title-obras {
        font-size: 30px;
    }

    .title-status {
        font-size: 25px;
    }

    .progress {
        height: 40px;
    }

    .progress-number {
        font-size: 23px;
    }

    .container-carousel-obras {
        margin-top: 5rem;
    }

    .total-item {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .row-status:last-child .total-item:last-child {
        margin-top: 3rem;
    }

    #ficha-tecnica {
        padding: 3rem 0;
    }

    .acordeao-item {
        width: 100%;
    }

    .acordeao-title {
        font-size: 25px;
    }

    .acordeao-descricao {
        width: 100%;
    }

    .descricao-item, .descricao-resp {
        font-size: 15px;
    }

    .localizacao-text {
        padding: 0rem 1rem;
        margin-top: 1.5rem;
    }

    .localizacao-text .container-title {
        padding: 0;
    }

    #localizacao {
        padding-bottom: 3rem;
    }

    .title-conheca {
        font-size: 30px;
        text-align: center;
    }

    .form-group-radio label {
        width: 80%;
    }
}

@media (min-width:431px) and (max-width:576px) {
    .container-infos-sm {
        width: 100%;
    }

    .infos-text {
        align-items: self-start!important;
    }

    .container-infos {
        margin-bottom: 2rem;
    }

    .br-dorms {
        display: none;
    }

    .button-interesse {
        align-self: center;
    }

    .container-title {
        padding: 0 2rem;
    }

    .title-empreendimento {
        font-size: 30px;
        text-align: center;
    }

    .controlador-voltar, .controlador-avancar {
        font-size: 40px;
    }

    .botao-voltar {
        right: 50px;
    }

    .botao-avancar {
        right: 0;
    }

    .carousel-dots {
        bottom: 30px;
    }

    .row-localizacao {
        margin-top: 1.5rem;
    }

    .row-localizacao .col-md-10 {
        align-content: center;
    }

    .map-subtitle {
        margin-top: 1.5rem;
    }

    .subtitle-empreendimento {
        font-size: 30px;
        text-align: center;
    }

    #map-section {
        padding-bottom: 1rem;
    }

    .icon-opcoes {
        position: initial;
        margin: 0;
    }

    .itens-opcoes {
        position: initial;
        margin: 0;
        margin-left: 0.5rem!important;
    }

    .container-options-lazer {
        padding: 0rem 1rem;
    }

    #lazer-section {
        padding-bottom: 1rem;
    }

    .tab-item > .nav-link.active {
        padding-bottom: 0;
        text-align: left;
    }

    .tab-item > .nav-link {
        text-align: left;
    }

    .nav-item.tab-item {
        width: 50%;
    }

    .tab-pane>.row>.col-md-8 {
        margin-top: 1.5rem;
    }

    .info-plantas {
        font-size: 14px;
    }

    .info-plantas>span {
        font-size: 14px;
    }

    .btn-tour-vista {
        margin-bottom: 1.5rem;
    }

    .btn-tour-vista > a {
        padding: 1rem 0;
        font-size: 28px;
    }

    .btn-tour-vista > a > span {
        top: 7px;
    }

    #button-tour-vista {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .title-obras {
        font-size: 30px;
    }

    .title-status {
        font-size: 25px;
    }

    .progress {
        height: 40px;
    }

    .progress-number {
        font-size: 23px;
    }

    .container-carousel-obras {
        margin-top: 5rem;
    }

    .total-item {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .row-status:last-child .total-item:last-child {
        margin-top: 3rem;
    }

    #ficha-tecnica {
        padding: 3rem 0;
    }

    .acordeao-item {
        width: 100%;
    }

    .acordeao-title {
        font-size: 25px;
    }

    .acordeao-descricao {
        width: 100%;
    }

    .descricao-item, .descricao-resp {
        font-size: 15px;
    }

    .localizacao-text {
        padding: 0rem 1rem;
        margin-top: 1.5rem;
    }

    .localizacao-text .container-title {
        padding: 0;
    }

    #localizacao {
        padding-bottom: 3rem;
    }

    .title-conheca {
        font-size: 30px;
        text-align: center;
    }

    .form-group-radio label {
        width: 80%;
    }
}

@media (min-width:577px) and (max-width:767px) {
    .container-infos-sm {
        width: 100%;
    }

    .infos-text {
        align-items: self-start!important;
    }

    .container-infos {
        margin-bottom: 2rem;
    }

    .br-dorms {
        display: none;
    }

    .button-interesse {
        align-self: center;
    }

    .container-title {
        padding: 0 2rem;
    }

    .title-empreendimento {
        font-size: 30px;
        text-align: left;
    }

    .controlador-voltar, .controlador-avancar {
        font-size: 40px;
    }

    .botao-voltar {
        right: 50px;
    }

    .botao-avancar {
        right: 0;
    }

    .carousel-dots {
        bottom: 30px;
    }

    .row-localizacao {
        margin-top: 1.5rem;
    }

    .row-localizacao .col-md-10 {
        align-content: center;
    }

    .map-subtitle {
        margin-top: 1.5rem;
    }

    .subtitle-empreendimento {
        font-size: 30px;
        text-align: center;
    }

    #map-section {
        padding-bottom: 1rem;
    }

    .icon-opcoes {
        position: initial;
        margin: 0;
    }

    .itens-opcoes {
        position: initial;
        margin: 0;
        margin-left: 0.5rem!important;
    }

    .container-options-lazer {
        padding: 0rem 1rem;
    }

    #lazer-section {
        padding-bottom: 1rem;
    }

    .tab-item > .nav-link.active {
        padding-bottom: 0;
        text-align: left;
    }

    .tab-item > .nav-link {
        text-align: left;
    }

    .nav-item.tab-item {
        width: 50%;
    }

    .tab-pane>.row>.col-md-8 {
        margin-top: 1.5rem;
    }

    .info-plantas {
        font-size: 14px;
    }

    .info-plantas>span {
        font-size: 14px;
    }

    .btn-tour-vista {
        margin-bottom: 1.5rem;
    }

    .btn-tour-vista > a {
        padding: 1rem 0;
        font-size: 28px;
    }

    .btn-tour-vista > a > span {
        top: 7px;
    }

    #button-tour-vista {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .title-obras {
        font-size: 30px;
    }

    .title-status {
        font-size: 25px;
    }

    .progress {
        height: 40px;
    }

    .progress-number {
        font-size: 23px;
    }

    .container-carousel-obras {
        margin-top: 5rem;
    }

    .total-item {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .row-status:last-child .total-item:last-child {
        margin-top: 3rem;
    }

    #ficha-tecnica {
        padding: 3rem 0;
    }

    .acordeao-item {
        width: 100%;
    }

    .acordeao-title {
        font-size: 25px;
    }

    .acordeao-descricao {
        width: 100%;
    }

    .descricao-item, .descricao-resp {
        font-size: 15px;
    }

    .localizacao-text {
        padding: 0rem 1rem;
        margin-top: 1.5rem;
    }

    .localizacao-text .container-title {
        padding: 0;
    }

    #localizacao {
        padding-bottom: 3rem;
    }

    .title-conheca {
        font-size: 30px;
        text-align: center;
    }

    .form-group-radio label {
        width: 80%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .container-infos-sm {
        width: 50%;
    }

    .infos-text {
        align-items: self-start!important;
    }

    .container-infos {
        margin-bottom: 2rem;
    }

    .br-dorms {
        display: none;
    }

    .button-interesse {
        align-self: center;
    }

    .container-title {
        padding: 0 2rem;
    }

    .title-empreendimento {
        font-size: 30px;
        text-align: left;
    }

    .controlador-voltar, .controlador-avancar {
        font-size: 40px;
    }

    .botao-voltar {
        right: 50px;
    }

    .botao-avancar {
        right: 0;
    }

    .carousel-dots {
        bottom: 30px;
    }

    .row-localizacao {
        margin-top: 1.5rem;
    }

    .row-localizacao .col-md-10 {
        align-content: center;
    }

    .map-subtitle {
        margin-top: 1.5rem;
    }

    .subtitle-empreendimento {
        font-size: 30px;
        text-align: center;
    }

    #map-section {
        padding-bottom: 1rem;
    }

    .icon-opcoes {
        position: initial;
        margin: 0;
    }

    .itens-opcoes {
        position: initial;
        margin: 0;
        margin-left: 0.5rem!important;
    }

    .container-options-lazer {
        padding: 0rem 1rem;
    }

    #lazer-section {
        padding-bottom: 1rem;
    }

    .tab-item > .nav-link.active {
        padding-bottom: 0;
        text-align: left;
    }

    .tab-item > .nav-link {
        text-align: left;
    }

    .nav-item.tab-item {
        width: 50%;
    }

    .tab-pane>.row>.col-md-8 {
        margin-top: 1.5rem;
    }

    .info-plantas {
        font-size: 14px;
    }

    .info-plantas>span {
        font-size: 14px;
    }

    .btn-tour-vista {
        margin-bottom: 1.5rem;
    }

    .btn-tour-vista > a {
        padding: 1rem 0;
        font-size: 28px;
    }

    .btn-tour-vista > a > span {
        top: 7px;
    }

    #button-tour-vista {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .title-obras {
        font-size: 30px;
    }

    .title-status {
        font-size: 25px;
    }

    .progress {
        height: 40px;
    }

    .progress-number {
        font-size: 23px;
    }

    .container-carousel-obras {
        margin-top: 5rem;
    }

    .total-item {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    #ficha-tecnica {
        padding: 3rem 0;
    }

    .acordeao-item {
        width: 100%;
    }

    .acordeao-title {
        font-size: 25px;
    }

    .acordeao-descricao {
        width: 100%;
    }

    .descricao-item, .descricao-resp {
        font-size: 15px;
    }

    .localizacao-text {
        padding: 0rem 1rem;
        margin-top: 1.5rem;
    }

    .localizacao-text .container-title {
        padding: 0;
    }

    #localizacao {
        padding-bottom: 3rem;
    }

    .title-conheca {
        font-size: 30px;
        text-align: center;
    }

    .form-group-radio label {
        width: 80%;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .container-infos-sm {
        width: 50%;
    }

    .infos-text {
        align-items: self-start!important;
    }

    .container-infos {
        margin-bottom: 2rem;
    }

    .br-dorms {
        display: none;
    }

    .button-interesse {
        align-self: center;
    }

    .container-title {
        padding: 0 2rem;
    }

    .title-empreendimento {
        font-size: 30px;
        text-align: left;
    }

    .controlador-voltar, .controlador-avancar {
        font-size: 40px;
    }

    .botao-voltar {
        right: 50px;
    }

    .botao-avancar {
        right: 0;
    }

    .carousel-dots {
        bottom: 30px;
    }

    .row-localizacao {
        margin-top: 1.5rem;
    }

    .row-localizacao .col-md-10 {
        align-content: center;
    }

    .map-subtitle {
        margin-top: 1.5rem;
    }

    .subtitle-empreendimento {
        font-size: 30px;
        text-align: center;
    }

    #map-section {
        padding-bottom: 1rem;
    }

    .icon-opcoes {
        position: initial;
        margin: 0;
    }

    .itens-opcoes {
        position: initial;
        margin: 0;
        margin-left: 0.5rem!important;
    }

    .container-options-lazer {
        padding: 0rem 1rem;
    }

    #lazer-section {
        padding-bottom: 1rem;
    }

    .tab-item > .nav-link.active {
        padding-bottom: 0;
        text-align: left;
    }

    .tab-item > .nav-link {
        text-align: left;
    }

    .nav-item.tab-item {
        width: 50%;
    }

    .tab-pane>.row>.col-md-8 {
        margin-top: 1.5rem;
    }

    .info-plantas {
        font-size: 14px;
    }

    .info-plantas>span {
        font-size: 14px;
    }

    .btn-tour-vista {
        margin-bottom: 1.5rem;
    }

    .btn-tour-vista > a {
        padding: 1rem 0;
        font-size: 28px;
    }

    .btn-tour-vista > a > span {
        top: 7px;
    }

    #button-tour-vista {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .title-obras {
        font-size: 30px;
    }

    .title-status {
        font-size: 25px;
    }

    .progress {
        height: 40px;
    }

    .progress-number {
        font-size: 23px;
    }

    .container-carousel-obras {
        margin-top: 5rem;
    }

    .total-item {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    #ficha-tecnica {
        padding: 3rem 0;
    }

    .acordeao-item {
        width: 100%;
    }

    .acordeao-title {
        font-size: 25px;
    }

    .acordeao-descricao {
        width: 100%;
    }

    .descricao-item, .descricao-resp {
        font-size: 15px;
    }

    .localizacao-text {
        padding: 0rem 1rem;
        margin-top: 1.5rem;
    }

    .localizacao-text .container-title {
        padding: 0;
    }

    #localizacao {
        padding-bottom: 3rem;
    }

    .title-conheca {
        font-size: 30px;
        text-align: center;
    }

    .form-group-radio label {
        width: 80%;
    }
}

@media (min-width:1201px) and (max-width:1400px) {
    #carousel-img .container-title .title-empreendimento {
        padding: 0rem 2rem;
    }

    .row-localizacao .col-md-2 {
        align-self: center;
    }

    .btn-tour-vista > a {
        font-size: 40px;
    }

    .btn-tour-vista > a > span {
        top: 24px;
    }
}