@font-face {
    font-family: 'avenir-black';
    src: url('./fonts/AvenirLTStd-Black.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-blackoblique';
    src: url('./fonts/AvenirLTStd-BlackOblique.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-book';
    src: url('./fonts/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-bookoblique';
    src: url('./fonts/AvenirLTStd-BookOblique.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-heavy';
    src: url('./fonts/AvenirLTStd-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-heavyoblique';
    src: url('./fonts/AvenirLTStd-HeavyOblique.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-light';
    src: url('./fonts/AvenirLTStd-Light.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-lightoblique';
    src: url('./fonts/AvenirLTStd-LightOblique.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-medium';
    src: url('./fonts/AvenirLTStd-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-mediumoblique';
    src: url('./fonts/AvenirLTStd-MediumOblique.otf') format('opentype');
}

@font-face {
    font-family: 'avenir-roman';
    src: url('./fonts/AvenirLTStd-Roman.otf') format('opentype');
}


@import 'header';
@import 'index';
@import 'footer';
@import 'header-inc';
@import 'index-inc';
@import 'variaveis';
@import 'single-empreendimentos';
@import 'sobre-inc';
@import 'oportunidades-inc';
@import 'vaga-inc';
@import 'governanca-inc';
@import 'portal-inc';
@import 'fale-conosco-inc';
@import 'seu-terreno-inc';
@import 'denuncias-inc';
@import 'politica-privacidade-inc';
@import 'single-portal-corretor';
@import 'blog-maximo-inc';
@import 'single-blog';
@import 'dna-construcao';
@import 'portfolio-con';
@import 'obra-saude-con';
@import 'orce-sua-obra-con';